;; Analyzed by ClojureScript 1.8.51
{:name app.mutations, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {m untangled.client.mutations, untangled.client.mutations untangled.client.mutations}, :imports nil, :cljs.analyzer/constants {:seen #{:app/users :remote :channel/by-id channel/set app/subscribe :current-user :app/channels :current-channel push/user-new :ast :msg :state push/message-new :channel/messages :db/id :action :user/by-id message/add :channel/users push/user-left :message/by-id user/add}, :order [push/user-left :state :ast :msg :action :current-channel :user/by-id :db/id :app/users :channel/users push/user-new push/message-new :message/by-id :channel/messages channel/set user/add :remote :app/channels :current-user :channel/by-id message/add app/subscribe]}}